.painelTb {
  border-collapse: collapse;
}

.painelTb__data {
  font-size: 30px;
  color: #666;
  padding: 15px;

}

.painelTb__setor {
  background-color: #233269;
  text-align: center;
  vertical-align: middle;
  font-size: 35px;
  color: #fff;
  padding: 15px;
}

// HEADER

.painelTb__th {
  font-size: 15px;
  padding: 15px;
  font-weight: bold;
  background-color: #7481ae;
  color: #fff;
  border: 1px solid #ffffff;
}

.painelTb__th--darker {
  background-color: #233269;
}

.painelTb__th--left {
  text-align: left;
}

.painelTb__th--previsao {
  font-size: 8px;
  background-color: #eb3134;
  width: 5%;
  text-align: center;
}

.painelTb__th--detalhe {
  font-size: 10px;
  text-align: center;
  vertical-align: middle;
  width: 5%;
  font-size: 8px;
}

.painelTb__th--scp {
  background-color: #00afee;
}

.painelTb__th--queda {
  background-color: #00a95a;
}

.painelTb__th--alergia {
  background-color: #ea278f;
}

.painelTb__th--exame {
  background-color: #989898;
}

.painelTb__th--cirurgia {
  background-color: #f38634;
}

.painelTb__th--jejum {
  background-color: #85706d;
}

.painelTb__th--precaucao {
  background-color: #ffcc28;
}

.painelTb__tr {
  background-color: #f0f0f0;
}

.painelTb__tr--zebra {
  background-color: #ffffff;
}

.painelTb__td {
  text-align: left;
  padding: 15px;
}
