
.alergia {
	font-size: 5px;
	font-weight: bold;
  line-height: 10px;
  border-radius: 3px;
  color: #fff;
  width: 70px;
  text-transform: uppercase;
  margin: 2px 0;
  white-space: normal;
}

.alergia__alimentar {
	background: #338800;
}

.alergia__esparadrapo {
	background: #ddddaa;
	color: #000;
}

.alergia__iodo {
	background: #862d2d;
}

.alergia__latex {
	background: #aaddaa;
	color: #000;
}

.alergia__medicamentos {
	background: #b000dd;
}

.alergia__micropore {
	background: #663300;
	color: #eee;
}

.alergia__outros {
	background: #336699;
	color: #fff;
}